<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
    <h1>{{ title }}</h1>
    <table>
        <tr>
            <td>State:</td>
            <td>{{ ec2.State.Name }}</td>
        </tr>
        <tr>
            <td>Instance Type:</td>
            <td>{{ ec2.InstanceType }}</td>
        </tr>
        <tr>
            <td>Launch Time:</td>
            <td>{{ ec2.LaunchTime }}</td>
        </tr>
        <tr>
            <td>VPC ID:</td>
            <td>{{ ec2.VpcId }}</td>
        </tr>
        <tr>
            <td>Subnet ID:</td>
            <td>{{ ec2.SubnetId }}</td>
        </tr>
        <tr>
            <td>Placement:</td>
            <td>{{ ec2.Placement.AvailabilityZone }}</td>
        </tr>
        <tr>
            <td>Private IP:</td>
            <td>{{ ec2.PrivateIpAddress }}</td>
        </tr>
        <tr>
            <td>Private DNS:</td>
            <td>{{ ec2.PrivateDnsName }}</td>
        </tr>
        <tr>
            <td>Public IP:</td>
            <td>{{ ec2.PublicIpAddress }}</td>
        </tr>
        <tr>
            <td>Public DNS:</td>
            <td>{{ ec2.PublicDnsName }}</td>
        </tr>
        <tr>
            <td>Tags:</td>
            <td>
                <dl>
                    {% for tag in ec2.Tags %}
                    <dt>{{ tag.Key }}</dt>
                    <dd>{{ tag.Value }}</dd>
                    {% endfor %}
                </dl>
            </td>
        </tr>
    </table>
</body>
</html>
